.cover.apply-slide {
	
	@import "_jqueryAccordion";
	
	color: #eee;
	background-color: #222;
	background-image: none;
	
	.wrapper {
	/*	overflow: hidden; */
	}

	.headerSection {
		
		.introText {
			float: left;
			display: inline-block;
			
			p {
				max-width: 550px;
				margin-left: 50px;
				text-align: justify;
	
				a {
					border-color: #85B200;
					&:hover {
						font-family: 'ProximaNovaBold', Arial;
						color: #fff;
					}
				}
			}
		}
	
		.actionButtons {
			float: right;
			display: block;
			margin-right: 90px;
			
			a {
				font-size: 18px;
				text-decoration: none;
				margin-top: 50px;
				margin-right: 20px;
				padding: 8px;
				text-align: center;
				display: block;
				border-style: solid;
				border-width: 2px;
				@include opacity(0.8);
				@include transition(0.5s);
		
				&:hover {
					@include opacity(1);
				}
		
				&.firstAction, &.thirdAction {
					background-color: #85B200;
					color: #fff;
					border-color: #fff;
				}
				&.secondAction {
					background-color: #fff;
					color: #85B200;
					border-color: #85B200;
				}
			}
		}
	}
	
	.text-button {
		background-color: #85B200;
	
		&:hover {
			background-color: lighten(#85B200, 5%);
		}
	}
	
	.maincontent {
		margin-left: 50px;
		margin-right: 90px;
		
		p {
			line-height: 24px;
			font-size: 14px;
			margin-bottom: 1.5em;

			a {
				border-color: #85B200;
				&:hover {
					font-family: 'ProximaNovaBold', Arial;
					color: #fff;
				}
			}	
		}
		
		strong {
			font-weight: normal;
			font-family: 'ProximaNovaBold', Arial;
			border-bottom-style: dotted;
			border-bottom-width: 1px;
			border-bottom-color: rgba( #85B200, .9);
		}
		
		ol, ul {
			margin-bottom: 1.5em;
			line-height: 24px;
			list-style-position: inside;
			
			li {
				&:before {
					/* Hack to change spacing between numbers and text */
					content: " ";
					padding-left: 4px;
				}
			}
		}
		
		h3 {
			font-size: 24px;
			text-transform: uppercase;
			font-family: 'GothamUltra', Arial;
			text-rendering: optimizeLegibility;
			word-spacing: normal;
			margin-bottom: .5em;
			margin-top: .5em;
			border-left: 500px solid transparent;
			background-image: url("../img/heading-line.gif");
			background-repeat: no-repeat;
			background-clip: border-box;
			background-position-x: -510px;
			background-position-y: 15px;
			margin-left: -500px;
			letter-spacing: 1px;
		}
		
		h4 {
			font-size: 18px;
			font-weight: bold;
			font-family: 'ProximaNovaBold', Arial;
			color: #85B200;
		}
	}
}