@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('../fonts/proximanovareg-webfont.eot');
    src: url('../fonts/proximanovareg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanovareg-webfont.woff') format('woff'),
         url('../fonts/proximanovareg-webfont.ttf') format('truetype'),
         url('../fonts/proximanovareg-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNovaBold';
    src: url('../fonts/proximanovabold-webfont.eot');
    src: url('../fonts/proximanovabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanovabold-webfont.woff') format('woff'),
         url('../fonts/proximanovabold-webfont.ttf') format('truetype'),
         url('../fonts/proximanovabold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'GothamUltra';
    src: url('../fonts/gotham-ultra-webfont.eot');
    src: url('../fonts/gotham-ultra-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-ultra-webfont.woff') format('woff'),
         url('../fonts/gotham-ultra-webfont.ttf') format('truetype'),
         url('../fonts/gotham-ultra-webfont.svg#gotham_ultraregular') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'GothamRegular';
    src: url('../fonts/gotham_medium-webfont.eot');
    src: url('../fonts/gotham_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham_medium-webfont.woff') format('woff'),
         url('../fonts/gotham_medium-webfont.ttf') format('truetype'),
         url('../fonts/gotham_medium-webfont.svg#gotham_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}