.applyAccorPanel {
	margin-left: 50px;
	margin-right: 90px;
	margin-bottom: 25px;
	
	p {
		line-height: 18px;
		font-size: 14px;
		margin-bottom: 0px;
		padding-bottom: 1em;

		a {
			border-color: #85B200;
		}
		
		&.aboveAccor {
			margin: 20px 10px 0px 32px;
		}
	}
	
	strong {
		font-weight: normal;
		font-family: 'ProximaNovaBold', Arial;
	}
	
	ul {
		width: 100%;
		padding: 0px;
		list-style-position: inside;
		
		li {
			margin-left: 25px;
		    float: left;
		    width: 42%;
		    text-align: left;
		}
	}

	h3 {
		font-family: 'ProximaNovaBold', Arial;
		text-rendering: optimizeLegibility;
		font-size: 14px;
		
		&.disabled {
			
			&:hover {
				background: inherit;
				background-color: #333;
				border: 1px solid #666;
				color: #e8e8e8;
				cursor: default;
			} 
			
			span:first-child {
				display:none;
			}
		}
	}
	
	.ui-accordion-content {
		padding: 1em 1em 1em 1em;
		
		&.disabled {
			padding: 0px;
		}
	}
	
	.accorSubContainer {
		margin: 0px;
		padding: 0px;
	}
	
	.accorSub {
		margin: 0px;
		padding: 2px 4px 4px 4px;
	}
}
