/* CSS Document */

@media only screen and (min-width: 1020px) {
	.wrapper {
		width: 960px;
	}
	
	.cover.home-slide {
	
		p.description {
			max-width: 600px;
		}
		.badge {
			right: 100px;
		}
	}
	.cover.categories-slide {
		p.description {
			top: 55px;
			max-width: 565px;
		}
	}
	.cover.philosophy-slide {
		p.description {
			right: 100px;
			max-width: 612px;
		}
	}
	.cover.benefits-slide {
		p.description {
			line-height: 32px;
			right: auto;
			left: 490px;
			max-width: 400px;
			top: 115px;
		}
	}
	.cover.judges-slide {
		p.description {
			max-width: 580px;
		}
		.judges {
			.judge {
				margin: 30px 45px;
			}
		}
	}
	.cover.apply-slide {
		min-height: 3970px;
	}
}

@media only screen and (max-width: 1020px) {
	.cover.categories-slide {
		p.description {
			line-height: 24px;
		}
	}
	
	.cover.apply-slide {
		min-height: 4550px;
		
		.maincontent {
			margin-left: 20px;
			margin-right: 0px;
		}
		
		.headerSection {
			.introText {
				max-width: 480px;
				
				p {
					margin-left: 20px;
				}
			}
		
			.actionButtons {
				margin-right: 0px;
				
				.firstAction {
					margin-top: 80px;
				}
			}
		}
	}
}

@media only screen and (max-width: 810px) {
	
	.sidebar-navigation {
		display: none;
	}

	.cover.apply-slide {
		.headerSection {
			.introText {
				float: none;
				max-width: none;
				margin-right: 20px;
				p {
					max-width: none;
				}
			}
		
			.actionButtons {
				float: none;
				margin-bottom: 1.5em;
				margin-left: 20px;
				
				a {
					margin-top: 8px;
					margin-right: 20px;
					display: inline-block;
					padding: 5px;
				}
				
				.firstAction {
					margin-top: 0px;
				}
			}
		}
	}
}

@media only screen and (max-width: 700px) {
	.cover.judges-slide .judges {
		padding-top: 50px;
	}
	
}