/* scrollbars */

@mixin custom-scrollbar($color1: #E7D52B, $color2: #fff) { 
	::-webkit-scrollbar {
		width: 4px;
		height: 4px;
	}
	
	::-webkit-scrollbar-button:start:decrement,
	::-webkit-scrollbar-button:end:increment {
		display: block;
		height: 4px;
		background: $color2;
	}
	
	::-webkit-scrollbar-button:vertical:increment {
		background-color: $color2;
	}
	
	::-webkit-scrollbar-track-piece {
		background-color: $color2;
	}
	
	::-webkit-scrollbar-thumb:vertical {
		background-color: $color1;
	}
	
	::-webkit-scrollbar-thumb:horizontal {
		background-color: $color1;
	}
}

