@import "compass";
@import "_fontawesome";
@import "_mixins";
@import "_fonts";
@import "_jquery.ui";

* {
	margin: 0;
	padding: 0;
}

html{
    height: 100%;
}
body {
	font-family: 'ProximaNovaRegular', Arial;
	text-rendering: optimizeLegibility;
	font-size: 14px;
	min-width: 760px;
	
	.top-bar a {
		color: inherit;
		text-decoration: inherit;
	}
	
	&.home-slide { //
		.top-bar {
			
			h1 {
				background-image: url('../img/logo-dfe-black.png');
			}
		}
	}
	&.categories-slide { //
		.top-bar {
			background-color: #ffe197;
			color: #45281B;
			
			h1 {
				background-image: url('../img/logo-dfe-black.png');
			}
			
			nav {
				a {
					color: #45281B;
					
					&.active {
						border-color: #45281B;
					}
				}
			}
		}
		.sidebar-navigation {
			a {
				color: #FB976C;
				background-color: #ffe197;
			}
		}
		.page-footer {
			.text-button {
				&.first, &.third {
					background-color: #E18564;
					color: #ffe197;
					border-color: #ffe197;
				}
				&.second {
					background-color: #ffe197;
					color: #E18564;
					border-color: rgba(#fff, 0.8);
				}
			}
		}
	}
	&.judges-slide { //
		color: #000;
		
		.top-bar {
			background-color: #000;
			color: #fff;
			
			h1 {
				background-image: url('../img/logo-dfe-white.png');
			}
			
			nav {
				a {
					color: #fff;
					
					&.active {
						border-color: #fff;
					}
				}
			}
		}
		.sidebar-navigation {
			a {
				color: #fff;
				background-color: #000;
			}
		}
		.page-footer {
			.text-button {
				&.first, &.third {
					background-color: #000;
					color: #fff;
				}
				&.second {
					background-color: #fff;
					color: #000;
					border-color: #000;
				}
			}
		}
	}
	&.philosophy-slide { //
		color: #c2e7f6;
		
		.top-bar {
			background-color: #c2e7f6;
			color: #FF3939;
			
			h1 {
				background-image: url('../img/logo-dfe-red.png');
			}
			
			nav {
				a {
					color: #FF3939;
					
					&.active {
						border-color: #FF3939;
					}
				}
			}
		}
		.sidebar-navigation {
			a {
				color: #FF3939;
				background-color: #c2e7f6;
			}
		}
		.page-footer {
			.text-button {
				&.first, &.third {
					background-color: #c2e7f6;
					color: #FF3939;
					border-color: #fff;
				}
				&.second {
					background-color: #fff;
					color: #D33F3F;
					border-color: #c2e7f6;
				}
			}
		}
	}
	&.benefits-slide { //
		color: #FF3939;
		
		.top-bar {
			background-color: #FF3939;
			color: #fff;
			
			h1 {
				background-image: url('../img/logo-dfe-white.png');
			}
			
			nav {
				a {
					color: #fff;
					
					&.active {
						border-color: #fff;
					}
				}
			}
		}
		.sidebar-navigation {
			a {
				color: #fff;
				background-color: #FF3939;
			}
		}
		.page-footer {
			.text-button {
				&.first, &.third {
					background-color: #D33F3F;
					color: #fff;
					border-color: #fff;
				}
				&.second {
					background-color: #fff;
					color: #D33F3F;
					border-color: #D33F3F;
				}
			}
		}
	}
	&.apply-slide {
		.top-bar {
			h1 {
				background-image: url('../img/logo-dfe-black.png');
			}
		}
		.page-footer {
			display: none;
		}
	}
}

.wrapper {
	width: 730px;
	padding: 0 15px;
	margin: 0 auto;
	position: relative;
}

/* General elements */
h2 {
	font-family: 'GothamUltra', Arial;
	font-size: 50px;
	line-height: 50px;
	text-transform: uppercase;
	color: #fff;
	text-rendering: optimizeLegibility;
	word-spacing: 10px;
	margin-bottom: 20px;
}
.text-button {
	padding: 10px 20px;
	font-family: 'ProximaNovaRegular', Arial;
	font-size: 14px;
	color: #333;
	display: inline-block;
	text-decoration: none;
	border: none;
	@include transition(0.3s);
}
.badge {
	font-family: 'ProximaNovaBold', Arial;
	font-size: 20px;
	width: 164px;
	height: 164px;
	text-align: center;
	background-size: cover;
	padding-top: 16px;
	display: block;
	text-decoration: none;
	@include opacity(0.99);
	@include box-sizing(border-box);
	@include transition(0.3s);
	
	&.green {
		color: #fff;
		background-image: url('../img/badge-green.png');
	}
	&.red {
		color: #fff;
		background-image: url('../img/badge-red.png');
	}
	&.black {
		color: #fff;
		background-image: url('../img/badge-black.png');
	}
	&.deep-red {
		color: #fff;
		background-image: url('../img/badge-deep-red.png');
	} 
}

/* Top bar and navigation */
.top-bar {
	position: fixed;
	top: 0;
	left: 0;
	height: 60px;
	width: 100%;
	z-index: 100;
	padding: 10px 0;
	background-color: #fff;
	@include opacity(0.9);
	@include transition(background-color 1.0s);
	
	h1 {
		background-image: url('../img/logo-dfe-black.png');
		font-family: 'ProximaNovaBold', Arial;
		font-size: 14px;
		line-height: 60px;
		padding-left: 70px;
		background-repeat: no-repeat;
		background-position: left center;
		background-size: 61px;
		
		img {
			height: 60px;
			margin-right: 10px;
			float: left;
		}
	}
	nav {
		position: absolute;
		top: 0;
		right: 0;
		padding-top: 18px;
		
		ol {
			list-style: none;
			
			li {
				display: inline;
				padding: 0 5px;
			}
		}
		a {
			display: inline-block;
			line-height: 24px;
			border-bottom: 1px solid transparent;
			text-decoration: none;
			color: #000;
			@include transition(0.5s);
			
			&:hover {
				border-color: #777;
			}
			&.active {
				border-color: #000;
			}
		}
	}
}
.sidebar-navigation {
	position: fixed;
	top: 50%;
	right: 0;
	z-index: 250;
	width: 40px;
	height: 164px;
	margin-top: -82px;
	
	a {
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		color: #111;
		display: block;
		margin-bottom: 1px;
		text-decoration: none;
		font-size: 24px;
		background-color: #fff;
		@include opacity(0.99);
		@include transition(0.5s);
		
		&:hover {
			@include opacity(0.7);
		}
		&.hidden {
			@include opacity(0);
		}
		
		i {
			position: relative;
			bottom: -2px;
		}
	}
}

/* Footer of the page */
.page-footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding-bottom: 20px;
	z-index: 100;
	
	.text-button {
		margin-right: 20px;
		float: left;
		border-style: solid;
		border-width: 2px;
		@include opacity(0.8);
		@include transition(0.5s);
		
		&:hover {
			@include opacity(1);
		}
		
		&.first, &.third {
			background-color: #85B200;
			color: #fff;
			border-color: #fff;
		}
		&.second {
			background-color: #fff;
			color: #85B200;
			border-color: #85B200;
		}
	}
}

.curtains {
    z-index:1;
    width: 100%;
    position:relative;

	.cover {
		position: fixed;
		display:block;
		top: 0;
		left: 0;
		width: 100%;
		overflow: hidden;
		z-index:1;
		padding: 120px 0 60px 0;
		background-image: url('../img/grid.png');
		background-position: bottom center;
		background-size: cover;
		@include box-sizing(border-box);
		
		&.hidden {
			display: none;
		}
		&:first-child {
			z-index: 2;
		}
		
		.wrapper {
			min-height: 100%;
		}
		
		p {
			font-family: 'ProximaNovaRegular';
			line-height: 32px;
			font-size: 18px;
			margin-bottom: 1em;
			
			a {
				color: #fff;
				text-decoration: none;
				border-bottom: 1px solid #fff;
				@include transition(0.3s);
				
				&:hover {
					border-color: #fff;
				}
			}
		}
	}
}
.clear {
	clear: both;
	display: block;
}

/* Covers and positioning */
.cover.home-slide {
	color: #fff;
	min-height: 600px;
	background-color: #222;
	background-image: url('../img/grid.png');
	
	p.description {
		max-width: 480px;
		
		a {
			border-color: #85B200;
		}
		
		strong {
			font-family: 'ProximaNovaBold', Arial;
			color: #85B200;
		}
	}
	.text-button {
		background-color: #85B200;
		
		&:hover { 
			background-color: lighten(#85B200, 5%);
		}
	}
	.badge {
		font-family: 'ProximaNovaBold', Arial;
		position: absolute;
		right: 40px;
		top: 220px;
		padding-top: 42px;
		font-size: 18px;
		text-transform: uppercase;
		
		&:hover {
			@include transform(rotateZ(15deg));
		}
		img {
			width: 120px;
		}
	}
}
.cover.categories-slide {
	color: #45281B;
	min-height: 675px;
	background-color: #fb976c;

	h2 {
		color: #ffe197;
	}
	p {
		&.description {
			position: absolute;
			top: 50px;
			right: 20px;
			max-width: 335px;
			
			a {
				color: #45281B;
				border-color: #ffe197;
			}
		}
	}
	
	.categories {
		position: absolute;
		top: 250px;
		width: 100%; 
		padding-right: 20px;
		@include box-sizing(content-box);
		
		ul {
			list-style: none;
			
			li {
				display: inline-block;
				padding: 6px 10px;
				margin: 3px 1px;
				color: #45281B;
				background-color: #ffe197;
				cursor: pointer;
				font-size: 14px;
				@include opacity(0.5);
				@include transition(0.3s);
				
				&:hover, &.active {
					color: #111;
					@include opacity(1);
				}
			}
		}
	}
	.category-detail {
		position: absolute;
		left: -3000px;
		top: 250px;
		width: 450px;
		text-align: center;
		
		.arrow {
			top: 100%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			border-top-color: #E18564;
			border-width: 10px;
			left: 20px;
			z-index: 10;
		}
		ul {
			list-style: none;
			position: relative;
			
			li {
				position: absolute;
				top: 0;
				left: 0;
				padding: 20px;
				background-color: #E18564;
				color: #000;
				text-align: left;
				display: none;
				@include transition(1s);
				@include box-shadow(rgba(#000, 0.3) 0 0 5px);
				
				&.visible {
					display: block;
				}
				
				h3 {
					color: #ffe197;
				}
			}
		}
		
		h3 {
			font-family: 'ProximaNovaBold';
			font-size: 14px;
			text-transform: uppercase;
			margin-bottom: 5px;
		}
		img {
			position: absolute;
			top: 75px;
			left: 50%;
			margin-left: -77px;
			display: none;
			@include border-radius(8px);
		}
		p {
			font-size: 14px;
			line-height: 20px;
			text-align: left;
			padding: 0;
			margin: 0;
			position: relative;
		}
	}
}

.cover.philosophy-slide {
	color: #c2e7f6;
	min-height: 850px;
	background-color: #ff4d4d;
	overflow-x: hidden;
	
	h2 {
		color: #c2e7f6;
	}
	p.description {
		position: absolute;
		top: 149px;
		right: 20px;
		max-width: 530px;
	}
	.graph {
		position: absolute;
		top: 220px;
		left: 0;
		background-image: url('../img/graph.png');
		background-position: top center;
		background-repeat: no-repeat;
		height: 350px;
		width: 100%;
		padding: 0 1500px;
		margin-left: -1500px;
		
		.dot {
			position: absolute;
			top: 174px;
			left: 50%;
			width: 30px;
			height: 30px;
			background-image: url('../img/graph-dot.png');
			background-size: cover;
			background-repeat: no-repeat;
			
			&.first {
				margin-left: -310px;
			}
			&.second {
				margin-left: -30px;
			}
			&.third {
				margin-left: 255px;
			}
		}
		
		.dot-description {
			position: absolute;
			top: 220px;
			left: 50%;
			padding: 10px;
			width: 150px;
			text-align: center;
			font-size: 16px;
			line-height: 20px;
			@include border-radius(8px);
			@include transition(0.5s);
			
			&.first {
				margin-left: -383px;
			}
			&.second {
				margin-left: -100px;
			}
			&.third {
				margin-left: 182px;
			}
		}
	}
}
.cover.benefits-slide {
	color: #FF3939;
	min-height: 780px;
	background-color: #222;

	h2 {
		color: #FF3939;
	}
	p.description {
		color: #fff;
		line-height: 28px;
		
		position: absolute;
		top: 66px;
		right: 0px;
		max-width: 285px;
		
		a {
			border-color: #FF3939;
		}
		
		strong {
			font-weight: normal;
			border-bottom-width: 1px;
			border-bottom-style: dotted;
			border-bottom-color: #FFF;
			color: #FF3939;
		}
	}
	
	.benefitsPanel {
		max-width: 435px;
		
		p, ul {
			line-height: 18px;
			font-size: 14px;
			margin-bottom: 12px;
			padding-bottom: 0px;
			
			a {
				text-decoration: none;
				border-bottom-color: #FF3939;
				border-bottom-style: solid;
				border-bottom-width: 1px;
			}
		}
		
		h3 {
			strong {
				color: #FF3939;
			}
		}
		
		.ui-accordion-content {
			padding-bottom: 0px;
			padding-right: 1.5em;
		}
		
		.ui-widget-content {
			border-color: #666;
		}
		
		.ui-state-hover, .ui-state-active {
			background-color: #FF3939;
			background-image: none;
			border-color: #FF3939;
			color: #fff;
			.ui-icon {
				background-image: url(../img/acc/ui-icons_ffffff_256x240.png);
			}
			
			strong {
				color: #fff;
				font-weight: normal;
			}
		}
		
		ul {
			
			li {
				margin-bottom: 12px;
			}
		}
	}
}
.cover.judges-slide { /* judges */
	color: #000;
	min-height: 950px;
	background-color: #acac9d;

	h2 {
		color: #000;
		margin-bottom: 55px;
	}
	p.description {
		position: absolute;
		right: 20px;
		top: 55px;
		max-width: 355px;
	}
	.badge {
		position: absolute;
		top: 200px;
		right: 70px;
		padding-top: 48px;
		text-transform: uppercase;
		font-size: 16px;
		line-height: 24px;
	}
	
	.judges {
		padding-top: 30px;
		padding-bottom: 200px;
		overflow: hidden;
		
		.judge {
			position: relative;
			float: left;
			width: 150px;
			height: 150px;
			margin: 20px 15px;
			
			img {
				height: 100%;
				width: 100%;
				z-index: -100;
				filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
				filter: gray;
				-webkit-filter: grayscale(100%);
			}
			
			&:hover, &.hover {
				img {
				    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
				    -webkit-filter: grayscale(0%);
				}
				.name {
					display: none;
				}
				.info {
					display: block;
				}
			}
			
			&.left {
				.info {
					left: auto;
					right: 100%;
					margin-left: 0;
					margin-right: 30px;
					
					&:after {
						left: 100%;
						right: auto;
						border: solid transparent;
						content: " ";
						height: 0;
						width: 0;
						position: absolute;
						border-color: rgba(0, 0, 0, 0);
						border-left-color: #000000;
						border-width: 10px;
						top: 65px;
					}
				}
			}
			
			&.offset {
				top: -40px;
			}

			.name {
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				font-size: 12px;
				font-family: 'ProximaNovaBold', Arial;
				padding: 112px 23px 0 23px;
				text-align: center;
				color: #fff;
				background-image: url('../img/judge-name.png');
				background-size: cover;
				@include box-sizing(border-box);
			}
			.info {
				min-height: 100%;
				width: 350px;
				position: absolute;
				top: 0;
				left: 100%;
				margin-left: 30px;
				font-size: 14px;
				line-height: 20px;
				padding: 10px;
				color: #fff;
				background-color: #000;
				z-index: 1500;
				display: none;
				@include box-sizing(border-box);
				
				&:after {
					right: 100%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					border-color: rgba(0, 0, 0, 0);
					border-right-color: #000000;
					border-width: 10px;
					top: 65px;
				}
				
				.infoName {
					font-family: 'ProximaNovaBold', Arial;
					font-weight: bold;
					font-size: 14px;
				}
				.infoTitle {
					font-style: italic;
					
					em {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

/* Setup styling for the form */
.registration-form, .email-form, .intent-form, .downloads-form {
	position: absolute;
	z-index: 299;
	width: 690px;
	top: 10%;
	max-height: 80%;
	left: 50%;
	margin-left: -350px;
	background: #000;
	color: #fff;
	display: none;
	padding: 10px 10px 20px 0;
	@include custom-scrollbar(#fff, rgba(0, 0, 0, 1));
	@include box-shadow(rgba(#dcdcdc, 0.5) 0 0 9000px 9000px);
	
	.form-wrapper {
		overflow-y: scroll;
		max-height: 600px;
		clear: both;
		padding: 10px 10px 0 20px;
	}
	
	.close {
		font-family: 'GothamUltra', Arial;
		font-size: 30px;
		line-height: 20px;
		position: absolute;
		top: 5px;
		right: -50px;
		cursor: pointer;
		padding: 0 20px;
		color: #000;
	}
	
	h2 {
		font-size: 30px;
		word-spacing: normal;
		margin-bottom: 10px;
		line-height: 30px;
	}
	p {
		font-size: 16px;
	}
		
	form {
		margin-top: 20px;
		padding-top: 20px;
		padding-bottom: 15px;
		background-color: rgba(#333, 0.9);

		h3 {
			margin: 45px 29px 10px 20px;
			color: #fff;
			border-bottom: 2px solid rgba(#85B200, 0.9);
		}
	}
	
	label {
		display: block;
		float: left;
		clear: left;
		width: 280px;
		padding: 3px 20px 3px 20px;
		line-height: 20px;
	}
	input[type=text] {
		width: 300px;
		padding: 3px;
		border: 1px solid #111;
		background-color: rgba(#fff, 0.9);
		margin-bottom: 10px;
		float: left;
		
		&:focus {
			background-color: rgba(#fff, 1);
		}
	}
	textarea {
		width: 300px;
		height: 60px;
		padding: 3px;
		border: 1px solid #111;
		background-color: rgba(#fff, 0.9);
		margin-bottom: 10px;
		float: left;
		
		&:focus {
			background-color: rgba(#fff, 1);
		}
	}
	select {
		width: 308px;
		padding: 3px;
		border: 1px solid #111;
		background-color: rgba(#fff, 0.9);
		margin-bottom: 10px;
		float: left;
	}
	.formButtons {
		padding-left: 321px;
		
		input {
			width: 100px;
			padding: 3px;
			border: 1px solid #85B200;
			cursor: pointer;
			
			&[type=submit] {
				background-color: rgba(#85B200, 0.9);
				color: #fff;
				
				&:hover {
					background-color: rgba(#85B200, 1);
				}
			}
			&[type=reset] {
				background-color: #111;
				color: #aaa;
				border: 1px solid #aaa;
			}
		}
	}
}

.downloads-form {
	
	.downloads {
		margin-top: 18px;
		font-size: 14px;
		color:#eee;
		
		p {
			font-size: 14px;
			margin-bottom: 18px;
		}
		
		h3 {
			font-size: 14px;
			font-family: 'ProximaNovaBold', Arial;
			font-weight: normal;
		}
		a {
			margin-left: 30px;
			color:#eee;
			text-decoration: none;
			border-bottom: 1px solid #85B200;
			
			&:hover {
				font-family: 'ProximaNovaBold', Arial;
				color: fff;
			}
			
			&:before {
				display: inline;
				content:url('../img/download-icon.gif') "  ";
				white-space: pre-wrap;
			}
		}
		
		ul {
			list-style-type: none;
			
			li {
				margin-bottom: 12px;
			}
		}
	}
}

.email-form {
	width: 530px;
	margin-left: -270px;
	
	label {
		width: 120px;
	}
	.formButtons {
		padding-left: 161px;
	}
}

/* SIXTH SLIDE STYLES
	using a partial so we don't get into conflicts */
@import "_apply_slide";


/* Media queries for different screensizes */
@import "_mediaqueries";